@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-primary: #262642,
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.custom-cursor{
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius:  50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: difference;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
a{
  cursor: none;
}
.cursor-label{
  padding-top:  8px;
  font-size: 4px;
  font-weight: 500;
  letter-spacing: 1px;
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }
}
.phrase {
  line-height: 1.1;
}

.center-absolute{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-absolute-hero{
  position: absolute;
  top: 45%;
  left: 20%;
  transform: translate(0, -50%);
}

.border-b-fine{
  border-bottom: 1px solid #313188;
}

.border-fine{
  border: 1px solid #a19898;
}

.rainbow-text {
  background: linear-gradient(90deg, gray, blue);
  background-clip: text;
  color: transparent;
}

.navbar-responsive-element{
  font-size: xx-small;
}

.photo-responsive-absolute{
  position: absolute;
  top: 5%;

}

.souligner{
  position: relative;
  background-color: transparent;
  z-index: 1; 
}

.souligner::after{
  content: '';
  background-color: rgb(20, 18, 141);
  width: 150%;
  height: 17%;
  position: absolute;
  bottom: .3em;
  left: -25%;
  border-radius: 20%;
  z-index: -1;
}

.glass-effect1{
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.souligner::after{
  content: '';
  background-color: rgba(20, 176, 187, 0.589);
  width: 150%;
  height: 17%;
  position: absolute;
  bottom: .3em;
  left: -25%;
  border-radius: 20%;
  z-index: -2;
}

.glass-front{
  content: '';
  background-color: rgba(0, 0, 0, 0.089);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.glass-back1{
  content: '';
  background-color: rgba(18, 26, 141, 0.377);
  width: 50%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: -1;
}

.glass-back2{
  content: '';
  background-color: rgba(18, 141, 104, 0.377);
  width: 50%;
  height: 80%;
  position: absolute;
  top: 80%;
  left: 20%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: -1;
}

.glass-back3{
  content: '';
  background-color: rgba(86, 18, 141, 0.377);
  width: 50%;
  height: 80%;
  position: absolute;
  top: -10%;
  right: -40%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: -1;
}